@font-face {
    font-family: 'akbar';
    font-weight: 500;
    font-style: normal;
    src: url('akbar.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: radial-gradient(#2daed5, #015f9d) fixed;
}


.section{
    display: flex;
    flex-wrap: wrap;
}
.section__title{
    position: absolute;
    color: #fff;
    font-size: 80px;
    z-index: -1;
    font-family: 'akbar';
    
}
.section__inner{
    height: 100vh;
}
.section__image{
    position: relative;
}
.section__image{
    width:100%;
    max-width: 700px;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    max-width: 700px;
}

/* svg */

.Lisa{
    opacity: 0;
    fill: #fff;
}
.Lisa:hover{
    transition: opacity .1s ease-in-out;
    cursor: pointer;
    opacity: .2;
}
.Marge{
    opacity: 0;
    fill: #fff;
}
.Marge:hover{
    transition: opacity .1s ease-in-out;
    cursor: pointer;
    opacity: .2;
}

.Bart{
    opacity: 0;
    fill: #fff;
    z-index: 1;
}
.Bart:hover{
    transition: opacity .1s ease-in-out;
    cursor: pointer;
    opacity: .2;
}




.Homer{
    opacity: 0;
    fill: #fff;
}
.Homer:hover{
    transition: opacity .1s ease-in-out;
    cursor: pointer;
    opacity: .2;
}
.Maggie{
    opacity: 0;
    fill: #fff;
}
.Maggie:hover{
    transition: opacity .1s ease-in-out;
    cursor: pointer;
    opacity: .2;
}

/* Description */

.description{
    /* position: absolute;
    top: 10px;
    right: 10px; */
    z-index: 0;
    position: relative;
    top: 50px;
    padding: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 32px 10px #ccc;
}
.description__image--show{
    position: absolute;
    bottom:  10;
    left: 10;
    z-index: 2;
    max-height: 90%;
    max-width: 90%;
    opacity: 0;
    /* display: none; */
}

.description__image{
    position: absolute;
    bottom:  10;
    left: 10;
    z-index: 2;
    max-height: 90%;
    max-width: 90 %;
    opacity: 0;
    /* display: none; */
}


